* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
} */

img {
    height: 100%;
    width: 100%;
}

/* 
.card {
    width: 200px !important;
} */

/* #cards {
    gap: 10px;
} */

/* p {
    margin: 0 !important;
    padding: 0 !important;
} */